In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [7]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [8]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]

In [9]:
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [10]:
dependent=dataset[['classification_yes']]

In [11]:
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [12]:
#from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
#independent_scaled=sc.fit_transform(independent)

In [13]:
from sklearn.naive_bayes import ComplementNB

In [14]:
from sklearn.model_selection import GridSearchCV

param_grid = {
      'alpha': [0.1, 0.5, 1.0, 10],           
    'fit_prior': [True, False],              
    'class_prior': [None],                  
    'norm': [True, False]  
    }

grid = GridSearchCV(ComplementNB(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')


grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=ComplementNB(), n_jobs=-1,
             param_grid={'alpha': [0.1, 0.5, 1.0, 10], 'class_prior': [None],
                         'fit_prior': [True, False], 'norm': [True, False]},
             scoring='f1_weighted', verbose=3)

In [15]:
re=grid.cv_results_

grid_predictions = grid.predict(independent) 

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(dependent, grid_predictions)

from sklearn.metrics import classification_report
clf_report = classification_report(dependent, grid_predictions)

In [16]:
print(grid.best_params_)

{'alpha': 0.1, 'class_prior': None, 'fit_prior': True, 'norm': False}

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_class_prior,param_fit_prior,param_norm,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.039994,0.005913,0.024810,0.002442,0.1,None,True,True,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
1,0.030451,0.010460,0.027016,0.004097,0.1,None,True,False,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.700000,0.901535,0.938022,0.926015,0.936901,0.880495,0.091197,1
2,0.015522,0.001236,0.025600,0.001433,0.1,None,False,True,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
3,0.018354,0.002441,0.028509,0.001967,0.1,None,False,False,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.700000,0.901535,0.938022,0.926015,0.936901,0.880495,0.091197,1
4,0.017363,0.003422,0.023656,0.001815,0.5,None,True,True,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
5,0.014613,0.001254,0.024272,0.002086,0.5,None,True,False,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,3
6,0.017050,0.005210,0.030007,0.004148,0.5,None,False,True,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
7,0.017075,0.003282,0.027241,0.003496,0.5,None,False,False,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,3
8,0.015112,0.002346,0.026201,0.002734,1.0,None,True,True,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
9,0.018174,0.003024,0.025932,0.002517,1.0,None,True,False,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.901354,0.901535,0.924484,0.850177,0.097562,5
10,0.017305,0.001913,0.024694,0.002430,1.0,None,False,True,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.204545,0.204545,0.204545,0.204545,0.209035,0.205443,0.001796,11
11,0.014771,0.002103,0.023432,0.001218,1.0,None,False,False,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.901354,0.901535,0.924484,0.850177,0.097562,5
12,0.017160,0.002665,0.022902,0.002377,10,None,True,True,"{'alpha': 10, 'class_prior': None, 'fit_prior'...",0.204545,0.204545,0.230932,0.204545,0.209035,0.210721,0.010254,9
13,0.014258,0.001154,0.022540,0.001850,10,None,True,False,"{'alpha': 10, 'class_prior': None, 'fit_prior'...",0.615808,0.864654,0.840046,0.889274,0.899744,0.821905,0.105100,7
14,0.013164,0.001164,0.022340,0.002326,10,None,False,True,"{'alpha': 10, 'class_prior': None, 'fit_prior'...",0.204545,0.204545,0.230932,0.204545,0.209035,0.210721,0.010254,9
15,0.012787,0.002015,0.018852,0.004157,10,None,False,False,"{'alpha': 10, 'class_prior': None, 'fit_prior'...",0.615808,0.864654,0.840046,0.889274,0.899744,0.821905,0.105100,7

In [19]:
from sklearn.metrics import f1_score
f1_macro=f1_score(dependent,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'alpha': 0.1, 'class_prior': None, 'fit_prior': True, 'norm': False}: 0.8912968721618211

In [20]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[145   5]
 [ 39 210]]

In [21]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.79      0.97      0.87       150
           1       0.98      0.84      0.91       249

    accuracy                           0.89       399
   macro avg       0.88      0.91      0.89       399
weighted avg       0.91      0.89      0.89       399

In [22]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(dependent, grid.predict_proba(independent)[:, 1])
print("ROC AUC score:", roc_auc)

ROC AUC score: 0.9623025435073628

In [23]:
table_pr=pd.DataFrame()

In [24]:
table_pr['age'] = dataset["age"]
table_pr['bp'] = dataset["bp"]
table_pr['al'] = dataset["al"]
table_pr['su'] = dataset["su"]
table_pr['bgr'] = dataset["bgr"]
table_pr['bu'] = dataset["bu"]
table_pr['sc'] = dataset["sc"]
table_pr['sod'] = dataset["sod"]
table_pr['pot'] = dataset["pot"]
table_pr['hrmo'] = dataset["hrmo"]
table_pr['pcv'] = dataset["pcv"]
table_pr['wc'] = dataset["wc"]
table_pr['rc'] = dataset["rc"]
table_pr['sg_b'] = dataset["sg_b"]
table_pr['sg_c'] = dataset["sg_c"]
table_pr['sg_d'] = dataset["sg_d"]
table_pr['sg_e'] = dataset["sg_e"]
table_pr['rbc_normal'] = dataset["rbc_normal"]
table_pr['pc_normal'] = dataset["pc_normal"]
table_pr['pcc_present'] = dataset["pcc_present"]
table_pr['ba_present'] = dataset["ba_present"]
table_pr['htn_yes'] = dataset["htn_yes"]
table_pr['dm_yes'] = dataset["dm_yes"]
table_pr['cad_yes'] = dataset["cad_yes"]
table_pr['appet_yes'] = dataset["appet_yes"]
table_pr['pe_yes'] = dataset["pe_yes"]
table_pr['ane_yes'] = dataset["ane_yes"]
table_pr['Actual'] = dependent
table_pr['Predicted'] = grid_predictions

In [25]:
table_pr.to_csv("cm.csv", index=False)

In [26]:
age_input = float(input("Age: "))
bp_input = float(input("Blood Pressure: "))
al_input = float(input("Albumin Level: "))
su_input = float(input("Sugar Level: "))
bgr_input = float(input("Blood Glucose Random: "))
bu_input = float(input("Blood Urea: "))
sc_input = float(input("Serum Creatinine: "))
sod_input = float(input("Sodium: "))
pot_input = float(input("Potassium: "))
hrmo_input = float(input("Hemoglobin: "))
pcv_input = float(input("Packed Cell Volume: "))
wc_input = float(input("White Blood Cell Count: "))
rc_input = float(input("Red Blood Cell Count: "))
sg_b_input = int(input("Specific Gravity (B): "))
sg_c_input = int(input("Specific Gravity (C): "))
sg_d_input = int(input("Specific Gravity (D): "))
sg_e_input = int(input("Specific Gravity (E): "))
rbc_normal_input = int(input("Red Blood Cells Normal (0 or 1): "))
pc_normal_input = int(input("Pus Cells Normal (0 or 1): "))
pcc_present_input = int(input("Pus Cells Count Present (0 or 1): "))
ba_present_input = int(input("Bacteria Present (0 or 1): "))
htn_yes_input = int(input("Hypertension Yes (0 or 1): "))
dm_yes_input = int(input("Diabetes Mellitus Yes (0 or 1): "))
cad_yes_input = int(input("Coronary Artery Disease Yes (0 or 1): "))
appet_yes_input = int(input("Appetite Yes (0 or 1): "))
pe_yes_input = int(input("Polydipsia Yes (0 or 1): "))
ane_yes_input = int(input("Anemia Yes (0 or 1): "))

Age: 45
Blood Pressure: 80
Albumin Level: 4.5
Sugar Level: 1.2
Blood Glucose Random: 120
Blood Urea: 40
Serum Creatinine: 1.1
Sodium: 140
Potassium: 4.0
Hemoglobin: 13.5
Packed Cell Volume: 40
White Blood Cell Count: 6000
Red Blood Cell Count: 5.0
Specific Gravity (B): 1
Specific Gravity (C): 0
Specific Gravity (D): 0
Specific Gravity (E): 0
Red Blood Cells Normal (0 or 1): 1
Pus Cells Normal (0 or 1): 0
Pus Cells Count Present (0 or 1): 1
Bacteria Present (0 or 1): 0
Hypertension Yes (0 or 1): 0
Diabetes Mellitus Yes (0 or 1): 1
Coronary Artery Disease Yes (0 or 1): 0
Appetite Yes (0 or 1): 1
Polydipsia Yes (0 or 1): 1
Anemia Yes (0 or 1): 0

In [27]:
future_prediction = grid.predict([[age_input, bp_input, al_input, su_input, bgr_input, bu_input,
                                               sc_input, sod_input, pot_input, hrmo_input, pcv_input, wc_input,
                                               rc_input, sg_b_input, sg_c_input, sg_d_input, sg_e_input, rbc_normal_input,
                                               pc_normal_input, pcc_present_input, ba_present_input, htn_yes_input,
                                               dm_yes_input, cad_yes_input, appet_yes_input, pe_yes_input, ane_yes_input]])

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but ComplementNB was fitted with feature names
  warnings.warn(

In [28]:
print("Future Prediction = {}".format(future_prediction))

Future Prediction = [1]