In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','absolute_error'],
              'max_features': [None,'sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.154502,0.017475,0.011339,0.000778,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.858705,0.751910,0.800829,0.769071,0.754186,0.786940,0.039906,12
1,1.406076,0.151971,0.041152,0.004269,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.857814,0.761419,0.814164,0.799704,0.772486,0.801117,0.034007,5
2,0.100447,0.003817,0.010030,0.000544,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.834843,0.776649,0.794211,0.803663,0.759759,0.793825,0.025436,9
3,0.922044,0.029499,0.037598,0.005232,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.868785,0.793065,0.804308,0.823488,0.767895,0.811508,0.033818,1
4,0.109442,0.015532,0.010174,0.001467,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.850350,0.774623,0.805841,0.813132,0.756053,0.800000,0.032610,6
5,0.951340,0.055931,0.053258,0.007993,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860871,0.783737,0.811872,0.821427,0.769956,0.809573,0.031668,4
6,0.489291,0.034558,0.012567,0.000796,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.824492,0.775392,0.806727,0.784519,0.764695,0.791165,0.021663,11
7,4.417559,0.046845,0.044516,0.004791,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.841564,0.769973,0.794219,0.794352,0.769261,0.793874,0.026274,8
8,0.270720,0.012677,0.012816,0.001724,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.831934,0.774522,0.796177,0.802462,0.755719,0.792163,0.025858,10
9,2.597849,0.050751,0.042686,0.006476,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858289,0.792489,0.807512,0.828135,0.765234,0.810332,0.031550,2
10,0.309678,0.018564,0.012281,0.002356,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.832363,0.787753,0.803861,0.809873,0.746846,0.796139,0.028498,7
11,2.400185,0.047029,0.035785,0.006459,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.854960,0.790848,0.806553,0.828734,0.769291,0.810077,0.029692,3

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[4993.0537531]

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [18]:
print("The Best r_score: ",r_score)

The Best r_score:  0.8675074270969968