In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
from sklearn.model_selection import GridSearchCV

In [13]:
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','absolute_error'],
              'max_features': [None,'sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.177233,0.001960,0.012882,0.001065,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.855507,0.756212,0.808447,0.786711,0.750634,0.791502,0.038268,9
1,1.563833,0.028801,0.047274,0.000798,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.859876,0.765314,0.814462,0.805740,0.773092,0.803697,0.033722,5
2,0.118769,0.003213,0.014977,0.004510,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.854380,0.762474,0.794278,0.804690,0.742979,0.791760,0.038294,8
3,1.119970,0.043489,0.054526,0.011929,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.862279,0.795596,0.805073,0.830446,0.774610,0.813601,0.030234,1
4,0.137737,0.009962,0.012567,0.000489,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.822641,0.770689,0.780397,0.786344,0.762911,0.784597,0.020648,12
5,1.192050,0.034874,0.050090,0.001147,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.863317,0.795422,0.810869,0.827741,0.764323,0.812335,0.032954,2
6,0.458131,0.018720,0.011700,0.000839,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.845653,0.764260,0.786480,0.777702,0.759297,0.786679,0.031019,11
7,4.320068,0.076359,0.044318,0.001349,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.848032,0.767444,0.799760,0.800474,0.768173,0.796777,0.029422,7
8,0.266940,0.005719,0.011872,0.000192,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.837000,0.769223,0.793583,0.783098,0.759281,0.788437,0.026954,10
9,2.592720,0.050080,0.050951,0.007946,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.855171,0.794285,0.809759,0.829765,0.771399,0.812076,0.028798,3
10,0.276340,0.013038,0.012565,0.001740,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.829729,0.776421,0.816739,0.814464,0.759900,0.799451,0.026592,6
11,2.316414,0.041838,0.038249,0.006757,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.859212,0.789916,0.808064,0.824591,0.773877,0.811132,0.029463,4

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:34
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[10132.8823966]

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [19]:
r_score

0.8698939031614947

In [21]:
import pickle
filename="finalized_model_Forest.sav"
pickle.dump(grid,open(filename,'wb'))

In [22]:
loaded_model=pickle.load(open("finalized_model_Forest.sav",'rb'))
result=loaded_model.predict([[34,27.30,3,0,1]])

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [23]:
result

array([20258.075473])