In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV

In [10]:
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['squared_error','absolute_error'],
              'max_features': [None,'sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}:

In [12]:
y_pred = grid.predict(independent)

from sklearn.metrics import r2_score
r_score = r2_score(dependent, y_pred)
r_score

0.9688006178895552

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.192217,0.007240,0.015029,0.009437,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.838709,0.750773,0.829036,0.797861,0.829492,0.809174,0.032306,12
1,1.922328,0.231928,0.046916,0.007884,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.850602,0.778196,0.854372,0.821793,0.839027,0.828798,0.027726,5
2,0.137890,0.008560,0.009973,0.000679,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.847240,0.760604,0.853733,0.816985,0.815121,0.818736,0.032963,8
3,1.184468,0.067712,0.043217,0.004430,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857707,0.777959,0.861673,0.826702,0.838427,0.832494,0.030100,2
4,0.149229,0.012007,0.012066,0.002613,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.841921,0.752908,0.846895,0.812466,0.830904,0.817019,0.034166,9
5,1.499628,0.062271,0.058395,0.010361,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.857284,0.778251,0.860302,0.825881,0.838889,0.832121,0.029712,3
6,0.678296,0.023937,0.013164,0.001164,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.833920,0.758560,0.833951,0.808045,0.837647,0.814425,0.029874,11
7,6.769649,0.225863,0.050313,0.003196,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.837420,0.770152,0.857512,0.818925,0.834467,0.823695,0.029454,6
8,0.462187,0.075631,0.014961,0.005009,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.832833,0.775705,0.843410,0.819953,0.825577,0.819496,0.023258,7
9,3.927826,0.065479,0.047258,0.006504,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.854663,0.779873,0.847618,0.825331,0.844907,0.830478,0.027108,4
10,0.436232,0.051479,0.014671,0.002256,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.833699,0.760553,0.836408,0.815768,0.825736,0.814433,0.027881,10
11,3.432778,0.019636,0.041729,0.005215,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855752,0.780472,0.858259,0.829851,0.839819,0.832830,0.028182,1

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:44
Children:3
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[6095.375799]

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [17]:
print("The Best r_score: ",r_score)

The Best r_score:  0.9688006178895552