In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['squared_error','absolute_error','friedman_mse'],
              'max_features': [None, 'sqrt', 'log2'],
              'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': None, 'splitter': 'best'}:

In [13]:
y_pred = grid.predict(independent)

from sklearn.metrics import r2_score
r_score = r2_score(dependent, y_pred)
r_score

0.998667156135576

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.030782,0.001424,0.007248,0.001051,squared_error,None,best,"{'criterion': 'squared_error', 'max_features':...",0.720128,0.619032,0.732558,0.698144,0.687731,0.691518,0.039535,5
1,0.019322,0.001886,0.008629,0.001787,squared_error,None,random,"{'criterion': 'squared_error', 'max_features':...",0.699826,0.601625,0.691832,0.690104,0.717233,0.680124,0.040408,8
2,0.022538,0.000798,0.008777,0.000399,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.650634,0.592781,0.645996,0.700266,0.751489,0.668233,0.053768,13
3,0.018520,0.000777,0.009362,0.000897,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.720491,0.570811,0.661381,0.575710,0.576019,0.620882,0.060204,17
4,0.023359,0.000490,0.008818,0.000890,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.734984,0.496156,0.650207,0.748441,0.728085,0.671575,0.094181,11
5,0.018617,0.000923,0.008491,0.000871,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.662283,0.545096,0.703132,0.640606,0.658408,0.641905,0.052555,16
6,0.122106,0.007360,0.009401,0.001680,absolute_error,None,best,"{'criterion': 'absolute_error', 'max_features'...",0.734795,0.662267,0.693924,0.719257,0.731316,0.708312,0.027120,1
7,0.089557,0.011310,0.009375,0.001018,absolute_error,None,random,"{'criterion': 'absolute_error', 'max_features'...",0.656102,0.559580,0.738766,0.696202,0.740448,0.678219,0.066972,9
8,0.083592,0.007737,0.010009,0.001304,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.717161,0.604333,0.730767,0.716397,0.697011,0.693134,0.045684,4
9,0.055480,0.008398,0.007972,0.000906,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.739218,0.559292,0.725392,0.638527,0.739078,0.680302,0.071200,7
10,0.068239,0.008558,0.007433,0.000944,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.683288,0.571309,0.742016,0.737016,0.745593,0.695845,0.066285,3
11,0.047697,0.009865,0.008033,0.002160,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.641518,0.636589,0.616552,0.718441,0.692462,0.661112,0.038054,14
12,0.029939,0.003151,0.008144,0.000840,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.719470,0.646203,0.724355,0.733454,0.692035,0.703103,0.031625,2
13,0.022049,0.002208,0.008678,0.000357,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.712333,0.565465,0.679849,0.746063,0.684360,0.677614,0.060858,10
14,0.024748,0.004220,0.007411,0.000574,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.766765,0.583828,0.622501,0.701056,0.678887,0.670607,0.063383,12
15,0.018285,0.001408,0.009250,0.001241,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.672878,0.516545,0.649215,0.755655,0.677472,0.654353,0.077662,15
16,0.022888,0.001699,0.007956,0.000589,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.696847,0.694637,0.712518,0.718668,0.615880,0.687710,0.037054,6
17,0.015593,0.002089,0.007299,0.001407,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.551043,0.456740,0.709771,0.702617,0.601978,0.604430,0.095295,18

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[46113.511]

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [19]:
print("The Best r_score: ",r_score)

The Best r_score:  0.998667156135576

In [20]:
import pickle
filename="finalized_model_tree.sav"
pickle.dump(grid,open(filename,'wb'))

In [21]:
loaded_model=pickle.load(open("finalized_model_tree.sav",'rb'))
result=loaded_model.predict([[34,27.30,3,0,1]])

C:\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [22]:
result

array([19539.243])