In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': [None,'sqrt','log2'],
              'splitter':['best','random']} 
grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [11]:
re=grid.cv_results_

grid_predictions = grid.predict(X_test) 
   
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [12]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': None, 'splitter': 'best'}: 0.8733997218497793

In [13]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[76  9]
 [ 8 41]]

In [14]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.90      0.89      0.90        85
           1       0.82      0.84      0.83        49

    accuracy                           0.87       134
   macro avg       0.86      0.87      0.86       134
weighted avg       0.87      0.87      0.87       134

In [15]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.8654261704681873

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003944,0.000489,0.007183,0.000398,gini,None,best,"{'criterion': 'gini', 'max_features': None, 's...",0.829615,0.868752,0.833323,0.870362,0.943041,0.869019,0.040763,3
1,0.002994,0.000630,0.006446,0.001340,gini,None,random,"{'criterion': 'gini', 'max_features': None, 's...",0.829615,0.870898,0.832483,0.793565,0.883278,0.841968,0.032028,7
2,0.003479,0.001015,0.006897,0.000734,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.843811,0.888107,0.850543,0.925272,0.885265,0.878599,0.029362,2
3,0.003192,0.000977,0.006009,0.000632,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.814815,0.866968,0.814409,0.869709,0.886792,0.850539,0.030111,5
4,0.002611,0.000505,0.006483,0.001329,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.799620,0.849057,0.851527,0.815056,0.865054,0.836063,0.024568,10
5,0.003108,0.000861,0.006233,0.000587,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.829615,0.850809,0.758030,0.883278,0.885265,0.841399,0.046596,8
6,0.006058,0.005643,0.006258,0.001093,entropy,None,best,"{'criterion': 'entropy', 'max_features': None,...",0.867478,0.868752,0.850543,0.906935,0.905069,0.879756,0.022381,1
7,0.002792,0.000400,0.006981,0.001092,entropy,None,random,"{'criterion': 'entropy', 'max_features': None,...",0.743022,0.832918,0.796284,0.906166,0.826499,0.820978,0.053136,12
8,0.003189,0.001086,0.006222,0.000428,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.808927,0.850809,0.850543,0.851527,0.885265,0.849414,0.024217,6
9,0.003655,0.001603,0.006673,0.000905,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.849794,0.906252,0.778067,0.815056,0.836875,0.837209,0.042223,9
10,0.005081,0.001944,0.007380,0.001739,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.868752,0.833323,0.832483,0.903610,0.852886,0.029436,4
11,0.005336,0.004579,0.006265,0.000661,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.870047,0.851527,0.851527,0.753180,0.830509,0.041097,11

In [18]:
age_input=float(input("Age:"))
salary_input=float(input("Salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

Age:54
Salary:60000
Sex Male 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,salary_input,sex_male_input]]) 
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]